body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background:url("../img/vintage-concrete.png") fixed;    
}

h1{
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}

form {
    padding:8px;
}

form input {
    width:100%;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.inactive_page{
    display: none;
}

#add_button{
    position: fixed;
    bottom: 0px;
    right: 0px; 
}
td{
    width: 25%;
}

.stroked { 
    text-decoration: line-through; 
}

#add_button{
    margin: 10px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
}
#go_back{
    border-radius: 50%;    
}

table{
      background: #ffcc00;
  }