body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}

form {
    padding:8px;
}

form input {
    width:100%;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.inactive_page{
    display: none;
}

#add_button{
    position: fixed;
    bottom: 0px;
    right: 0px; 
}
td{
    width: 25%;
}